<div>
    FizzBuzz: Start value<input id = "fizzStart" type = "text">Stop value: <input id = "fizzStop" type = "text"><button onclick = "fizzbuzz()">Go</button>

</div>

<div id = "fizzBuzzResults">Fizzbuzz results:</div>

<div style = "margin-top:50px">
   Includes: <input id = "include" type = "text">Excludes: <input id = "exclude" type = "text"><button onclick = "includeexclude()">Go</button>

</div>
<div id = "includeExcludeResults">Includes and Excludes results:

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type = "text/javascript">
            function fizzbuzz() {
                var start = document.getElementById("fizzStart").value;
                var stop = document.getElementById("fizzStop").value;
                $.ajax('http://localhost:8080/fizzbuzz/' + start + '/' + stop, {
                    type: 'GET',
                    dataType: 'text',
                    contentType: "application/json",
                success: function(response) {
                    document.getElementById("fizzBuzzResults").innerHTML = "Fizzbuzz results: " + response;
                }
                });
            }

            function includeexclude() {
                var include = document.getElementById("include").value;
                var exclude = document.getElementById("exclude").value;
                $.ajax('http://localhost:8080/includesandexcludes/[' + include + ']/[' + exclude+']', {
                    type: 'GET',
                    dataType: 'text',
                    contentType: "application/json",
                success: function(response) {
                    document.getElementById("includeExcludeResults").innerHTML = "Includes and Excludes results: " + response;
                }
                });
            }
 </script>